
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./style-login.css') }}">
</head>
<body>
    <div class="page">
        <div class="formLogin">
        <form class="formLogin" method="post" action="/login">
            <h1>Login</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            
            <label for="login">Login</label>
            <input type="login" id="login" name="login"  placeholder="Insira seu Login"  autofocus="true"  required>

            <label for="senha">Senha</label>
            <input type="senha" id="senha" name="senha"  placeholder="Insira sua senha"  required>
            
            <a href="/">Esqueci minha senha</a>
            <input type="submit" value="Acessar" class="btn" />

        </form>

        <form action="/index" method="post">
            <input type="submit" value="Admin" class="btn">
        </form>
        <form action="/cadastro" method="post">
            <input type="submit" value="Cadastrar" class="btn">
        </form>
        </div>
        
    </div>
    
</body>
</html>